* {
    margin: 0;
    padding: 0;
}
html {
    font-size: 1em;
    font-family: "Great Vibes", cursive;
}
header {
    background-color: rgb(142, 255, 127);
    text-align: center;
    padding-top: 20px;
    padding-bottom: 40px;
}
footer {
    background-color: aquamarine;
    padding: 30px 20px;
}

#about {
    background-color: rgb(247, 247, 242);
    padding: 20px;
    text-align: center;
}

#articles {
    background-color: rgb(3, 130, 189);
    padding: 20px;
}

p {
    text-align: justify;
    font-size: 1.2rem;
    line-height: 2.4rem;
    margin-bottom: 3rem;
}

 h2 {
    text-align: center;
    font-size: 1.5rem;
 }

 nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    justify-content: center;
 }
 